html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
}
    .content{
      margin-top: 5%;
    }

    a{ color: #F05F40}

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .nav .navbar-nav{  font-size: 1em;}
    .navbar-default .menu {background-image: url(../img/menu_wrap.png);}

    #myNavbarE a, #myNavbarE .dropdown li a:hover{
      color: white;
    }

    #myNavbarE a:hover{background: black;}

    #myNavbarE .dropdown li a{ color: black;}

    #myNavbar a{
      color: black;
      font-weight: bold;
      font-size: 1em;
    }
    #myNavbar a:hover{
      color: #FF2D00;
      background: #F2F1F0;
    }

    .dropdown-menu{
      border: none;
      font-weight: normal!important;
    }

    ._phoenix{
      margin-right: -15px;
    }

    img.logo{
      max-height: 50px;
      margin: -15px 0 0 -15px;;
    }
    /* Add a gray background color and some padding to the footer */
    footer{
      background-color: #f2f2f2;
      padding: 20px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .footer{
      margin-top: 90%!important;
    }
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  .col-xs-12{
    margin-bottom: 20px;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

  .marca{
    max-width: 100px;
    margin-right: 10px;
  }


  img.previa{
    width: 200px;
    align-items: center;
    margin: 2% 0;
  }

  #resultados{
    display: flex;
  }


  /*Datos del producto*/
  img.vista{
    width: 300px;
  }

  a.thumbnail{
    text-decoration: none;
  }

  a.thumbnail:hover{color: #F05F40!important;}
  .desc{color: green;}

  .nomProducto{
    margin-top: 3%;
    height: 50px;
    color: #000;
    text-align: justify;
  }

  hr{margin:2px auto; max-width:50px}

  .precioActual{color: black; margin: 10%; font-weight: bold}
  .precioReal{color: red; margin: 10%;}

/*   ***   FORMULARIOS  ***   */
  input[type="text"].form-control,
  input[type="tel"].form-control,
  input[type="password"].form-control,
  input[type="email"].form-control, select,
  input[type="number"]{
    width:200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    padding: 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    margin-bottom: 10px;
  }

  input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus{
    outline: none;
    border-bottom: solid 2px #F05F40;
  }

  textarea{
    background-color: transparent;
    border: 1px solid #000000;
    scrollbar-arrow-color: #000066;
    scrollbar-base-color: #000033;
    scrollbar-dark-shadow-color: #336699;
    scrollbar-track-color: #666633;
    scrollbar-face-color: #cc9933;
    scrollbar-shadow-color: #DDDDDD;
    scrollbar-highlight-color: #CCCCCC;
  }

  div.botones{
    margin: 5% 25%;
  }

  #img_destino{width:300px}
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }

  }

  @media (min-width: 599px) and (max-width: 1000px) {
    img.previa{
      width: 200px;
      margin-left: 25%;
    }

  }
